/CMakeCache.txt
/CMakeFiles/*
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/cmake_install.cmake

/Makefile

/*/CMakeFiles/*
/*/CTestTestfile.cmake
/*/Makefile
/*/cmake_install.cmake

/QgarApps/*/CMakeFiles/*
/QgarApps/*/CTestTestfile.cmake
/QgarApps/*/cmake_install.cmake
/QgarApps/*/Makefile
/QgarApps/qgarguicfg.xml

/QgarDoc/src/api/*/Doxyfile*
/QgarDoc/src/main/leftMenu.html

/QgarGui/qgar

/qgarlib/testsuite/CMakeFiles/*
/qgarlib/testsuite/CTestTestfile.cmake
/qgarlib/testsuite/Makefile
/qgarlib/testsuite/cmake_install.cmake
