/CMakeCache.txt
/CMakeFiles/*
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/cmake_install.cmake

/Makefile

/*/CMakeFiles/*
/*/CTestTestfile.cmake
/*/Makefile
/*/cmake_install.cmake

/QgarApps/QA*/CMakeFiles/*
/QgarApps/QA*/CTestTestfile.cmake
/QgarApps/QA*/cmake_install.cmake
/QgarApps/QA*/Makefile
/QgarApps/QA*/QA*
/QgarApps/qgarguicfg.xml

/QgarDoc/src/api/*/Doxyfile*
/QgarDoc/src/main/leftMenu.html

/QgarGui/qgar

/qgarlib/testsuite/CMakeFiles/*
/qgarlib/testsuite/CTestTestfile.cmake
/qgarlib/testsuite/Makefile
/qgarlib/testsuite/cmake_install.cmake
